# Build folders
/build/
/cmake-build-*/

# Conan
/conan.lock
/conan_cache/

# CMake generated
CMakeFiles/
CMakeCache.txt
*.cmake
# but don't ignore toolchain.cmake
!cmake/toolchain.cmake

# Logs
*.log
